#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-container {
  width: 40%;
  background-color: aliceblue;
  padding: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

ul,li {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

ul > li {
  background-color: antiquewhite;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.btn > button {
  padding: 5px;
  background-color: cornflowerblue;
  color: azure;
  font-size: 20px;
  font-weight: bold;
}